/* --------------------------------------------------[全锟斤拷锟斤拷式]*/
body,
.wrapper {
  background: #ffffff;
  overflow-x: hidden;
}
.panel {
  /*min-width: 1000px;*/
}
.nav-wrapper {
  min-width: 1200px;
}
/*锟斤拷锟絯rapper锟斤拷式*/
.content-wrapper,
.content-heading {
  /*background: #ffffff !important;*/
}
/*panel锟斤拷式*/
.panel {
  /*border: 0;*/
  box-shadow: none;
}
.panel .panel-heading {
  /*-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
  border: 1px solid #D7D7D7;
  background: #F7F7F7;*/
  font-size: 16px;
  height: 40px;
}
.panel .panel-body {
  /*padding: 0;
  border: 1px solid #D7D7D7;*/
  border-top: 0;
}
.panel .panel-footer {
  border-top: 0;
  height: 46px;
}
.panel > div.panel-heading .panel-title {
  font-size: 14px;
  float: left;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #FFFFFF;
}
.tablebox .panel-body {
  overflow: inherit;
  padding: 0;
}
.tablebox .table-responsive {
  position: relative;
  min-height: 200px;
  border-radius: 3px;
  overflow: inherit;
}
.tablebox .panel-heading {
  height: 42px;
}
.tablebox .panel-heading #valid {
  margin-left: 10px;
}
.tablebox .panel-heading .label {
  color: #444444;
  text-align: center;
}
.tablebox .panel .panel-body .table-responsive {
  overflow: inherit;
}
.tablebox .panel .panel-body .table-responsive .table {
  border: 0;
}
.table-responsive .table tbody tr {
  background: #ffffff;
}
.table-responsive .table tbody tr td {
  vertical-align: top;
  font-size: 14px;
}
.table-responsive .table tbody tr td a {
  color: #656565;
}
.table-responsive .table tbody tr td a.h {
  color: #56abe4;
}
.table-responsive .table tbody tr td a.h:hover {
  text-decoration: underline;
}
.table-responsive .table tbody tr td.weixin {
  text-align: left;
  text-indent: 4%;
}
.tablebox .panel .panel-body .table-responsive .table tr td,
.tablebox .panel .panel-body .table-responsive .table tr th {
  border: 1px solid #D7D7D7;
}
.tablebox .panel .panel-footer {
  border: 1px solid #D7D7D7;
  height: 51px;
}
.tablebox .panel-body .table-responsive .total tr td {
  background: #F2F2F2;
}
.table thead tr th {
  position: relative;
  z-index: 1;
  /*background: #F7F7F7;*/
}
.table thead tr th,
.table tbody tr td {
  text-align: center;
}
.table thead tr th em {
  cursor: pointer;
}
.table thead tr th div {
  position: absolute;
  left: 8px;
  top: 35px;
  z-index: 3;
  width: 100%;
}
.table thead tr th div ul,
.table thead tr th div.tab_con {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1000;
  float: left;
  min-width: 160px;
  max-height: 137px;
  overflow-y: auto;
  padding: 5px 0;
  margin: 2px 0 0 -80px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.table thead tr th div.tab_con {
  padding: 5px 10px;
  font-size: 12px;
  display: none;
}
.table thead tr th div ul li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.table thead tr th div ul li a:hover {
  color: #262626;
  text-decoration: none;
  background: #f5f5f5;
}
#table-ext-1 {
  border: 1px solid transparent;
  border-top-width: 3px;
  border-color: #cfdbe2;
  background-color: #ffffff;
}
#table-ext-1 th {
  text-align: center;
}
/* --------------------------------------------------[展锟斤拷锟斤拷锟斤拷锟诫按钮]*/
@-webkit-keyframes myRotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@-webkit-keyframes myRotate0 {
  from {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
.fa-minus:before {
  content: "\f102";
  font-size: 18px;
  color: #3C3C3C;
  line-height: 28px;
}
.fa-plus:before {
  content: "\f103";
  font-size: 26px;
  color: #3C3C3C;
}
.icon-down {
  -webkit-animation: myRotate 0.3s ease-in-out;
  animation: myRotate 0.3s ease-in-out;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon-up {
  -webkit-animation: myRotate0 0.3s ease-in-out;
  animation: myRotate0 0.3s ease-in-out;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* --------------------------------------------------[头锟斤拷锟斤拷式]*/
/*选锟筋卡锟斤拷式*/
.todayData {
  font-size: 16px;
  line-height: 30px;
}
.todayData a {
  color: #929292;
  text-decoration: none;
}
.todayData a.current {
  color: #e67e22;
  font-weight: bold;
}
.todayData span.right {
  float: right;
  color: #515253;
}
.todayData button {
  float: right;
  margin-left: 10px;
}
.todayData a.current {
  color: #e67e22;
  font-weight: bold;
}
/*锟斤拷锟絟eader锟斤拷锟节边撅拷*/
@media only screen and (min-width: 768px) {
  .content-wrapper > h3,
  .content-wrapper > .content-heading {
    padding: 12px 20px;
  }
}
/*锟斤拷页锟斤拷式*/
.tcdPageCode {
  float: right;
  text-align: center;
}
.tcdPageCode a {
  display: inline-block;
  color: #434343;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  border: 1px solid #ddd;
  margin: 0 2px;
  vertical-align: middle;
}
.tcdPageCode a:hover {
  text-decoration: none;
  border: 1px solid #e67e22;
}
.tcdPageCode span.current {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  margin: 0 2px;
  color: #fff;
  background-color: #e67e22;
  border: 1px solid #e67e22;
  vertical-align: middle;
}
.tcdPageCode span.disabled1 {
  display: inline-block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0 2px;
  color: #bfbfbf;
  background: url(page1.jpg) no-repeat center center;
  border: 1px solid #bfbfbf;
  vertical-align: middle;
}
.tcdPageCode span.disabled2 {
  display: inline-block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0 2px;
  color: #bfbfbf;
  background: url(page6.jpg) no-repeat center center;
  border: 1px solid #bfbfbf;
  vertical-align: middle;
}
.tcdPageCode a.nextPage {
  display: inline-block;
  height: 25px;
  width: 25px;
  padding: 0;
  margin: 0 2px;
  vertical-align: middle;
  background: url(page6.jpg) no-repeat center center;
}
.tcdPageCode a.prevPage {
  display: inline-block;
  height: 25px;
  width: 25px;
  padding: 0;
  margin: 0 2px;
  vertical-align: middle;
  background: url(page1.jpg) no-repeat center center;
}
.tcdPageCode label {
  margin: 0 0 0 40px;
}
/* --------------------------------------------------[loading锟斤拷式]*/
.hide_loading {
  /*position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -20px;*/
  width: 100%;
  text-align: center;
  padding-top: 30px;
  /*width: 100%;
  height: 100%;*/
  /*display: none;*/
}
.hide_loading div {
  background: #e67e22;
}
/* --------------------------------------------------[锟斤拷页锟斤拷式]*/
/*锟斤拷页锟斤拷式*/
.tablebox .panel-footer {
  height: 56px !important;
}
#pagination,
.detailPage {
  float: right;
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
}
#pagination > li,
.detailPage > li {
  display: inline;
}
#pagination > li > a,
#pagination > li > span,
.detailPage > li > a,
.detailPage > li > span {
  position: relative;
  float: left;
  padding: 3px 10px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #e67e22;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
#pagination > li:first-child > a,
#pagination > li:first-child > span,
.detailPage > li:first-child > a,
.detailPage > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
#pagination > li:last-child > a,
#pagination > li:last-child > span,
.detailPage > li:last-child > a,
.detailPage > li:last-child > span {
  float: right;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
#pagination > li > a:hover,
#pagination > li > span:hover,
#pagination > li > a:focus,
#pagination > li > span:focus,
.detailPage > li > a:hover,
.detailPage > li > span:hover,
.detailPage > li > a:focus,
.detailPage > li > span:focus {
  color: #e67e22;
  background-color: #eee;
  border-color: #dddddd;
}
#pagination > .active > a,
#pagination > .active > span,
#pagination > .active > a:hover,
#pagination > .active > span:hover,
#pagination > .active > a:focus,
#pagination > .active > span:focus,
.detailPage > .active > a,
.detailPage > .active > span,
.detailPage > .active > a:hover,
.detailPage > .active > span:hover,
.detailPage > .active > a:focus,
.detailPage > .active > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #e67e22;
  border-color: #e67e22;
  cursor: default;
}
#pagination > li.prev a,
.detailPage > li.prev a {
  background: url(page1.jpg) no-repeat center center;
  width: 28px;
  height: 28px;
}
#pagination > li.next a,
.detailPage > li.next a {
  background: url(page6.jpg) no-repeat center center;
  width: 28px;
  height: 28px;
}
#pagination > .disabled > span,
#pagination > .disabled > span:hover,
#pagination > .disabled > span:focus,
#pagination > .disabled > a,
#pagination > .disabled > a:hover,
#pagination > .disabled > a:focus,
.detailPage > .disabled > span,
.detailPage > .disabled > span:hover,
.detailPage > .disabled > span:focus,
.detailPage > .disabled > a,
.detailPage > .disabled > a:hover,
.detailPage > .disabled > a:focus {
  color: #999;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
#pagination-lg > li > a,
#pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
#pagination-lg > li:first-child > a,
#pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
#pagination-lg > li:last-child > a,
#pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
#pagination-sm > li > a,
#pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
#pagination-sm > li:first-child > a,
#pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
#pagination-sm > li:last-child > a,
#pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
/*排序*/
.order {
  width: 9px;
  height: 12px;
}
.sort_empty {
  background: url('sort_empty.png');
}
.sort_desc {
  background: url('sort_down.png');
}
.sort_asc {
  background: url('sort_up.png');
}
/**截图*/
.jietu {
  display: inline-block;
  width: 80px;
  box-sizing: content-box;
}
/*进入点样式*/
.enter_point {
  background-image: url(tv.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}
.enter_point a:hover {
  text-decoration: none;
}
.enter_point a:link {
  text-decoration: none;
}
.pic_box {
  display: none;
  width: 370px;
  height: 145px;
  position: absolute;
  right: -350px;
  top: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  /*  opacity: 0;
  filter: alpha(opacity=0);*/
  background: #fff;
  z-index: 999;
}
.pic_box a {
  position: relative;
  display: inline-block;
  margin: 5px 5px;
}
.pic_box a img {
  transition: all .4s;
}
.pic_box a.current img {
  width: 150px;
}
.pic_box a div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
  line-height: 15px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.icon_pic {
  display: block;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.allCon {
  width: auto;
  padding: 15px 20px;
  height: auto;
  border: 1px solid #cfdbe2;
  background: #fff;
}
.tishi {
  text-align: center;
  margin-top: 65px;
}
.table th {
  background: #fafbfc;
  font-weight: normal;
}
.table tr:hover > td {
  background-color: #edf1f2;
}

/*# sourceMappingURL=sun_publish.css.map */